<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734050465748-g3r0lmnpfhh34m3mu26d7la4uvaqobdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734050465748-g3r0lmnpfhh34m3mu26d7la4uvaqobdh</string>
	<key>API_KEY</key>
	<string>AIzaSyAmTDhaHN6aUy0ep-jOPw29nLIGGCWbxbI</string>
	<key>GCM_SENDER_ID</key>
	<string>734050465748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.rosywanasinghe.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-95c36</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-95c36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734050465748:ios:5336189db6e7a86bcf8841</string>
</dict>
</plist>